.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid rgba($black, 0.03);
  font-size: 3.5rem;
  background-color: getColor(tertiary);

  p {
    @extend %mb-5;
  }

  // With item 1, start at col 3 and go until 5
  &1 {
    // grid-column-start: 3;
    // grid-column-end: 5;
    // grid-column: 3/ 5;
    grid-column: 3 / span 2;
  }

  // With item 2, start at col 5 and go until the end

  &2 {
    grid-column: 5 / -1;
  }

  // with item 5 double span 2 cols and rows

  &5 {
    grid-column: span 2;
    grid-row: span 2;
  }

  // make item 8 to row high

  &8 {
    grid-row: span 2;
  }

  // make item 15 span the entire grid withd

  &15 {
    grid-column: 1 / -1;
  }

  // Make item 18 span 4 widths, but end 9
  &18 {
    grid-column: span 4 / -2;
  }

  // Make item 20 start at row 4 and go for 3

  &20 {
    grid-row: 4 / span 3;
  }
}
