.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid rgba($black, 0.03);
  font-size: 3.5rem;
  background-color: getColor(tertiary);

  p {
    @extend %mb-5;
  }

  &6 {
    grid-column: span 2;
    grid-row: 1 / -1;
  }

  &9 {
    // grid-column: span 2;
    // grid-column: span 2 / 4;
    // grid-row: span 2;
    // grid-column: 1/ -1;
    // grid-column: span 10;
  }
}
