.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid rgba($black, 0.03);
  font-size: 3.5rem;
  background-color: getColor(tertiary);

  p {
    @extend %mb-5;
  }
}
